<!-- PORTFOLIO SECTION -->
<section class="portfolio-container" id="portfolio">
	<div class="inner-wrapper">
		<h3>Project Index</h3>
		<div class="little-line light"></div>
		<div class="work-items">
		<% @projects.each do |project| %>
			<div class="portfolio-item">
				<div class="portfolio-image">
					<%= image_tag project.screenshot %>
				</div> <!-- /.portfolio-image -->
				<div class="portfolio-text">
					<h4><%= project.title %></h4>
					<p><%= project.description %></p>
					<p>Active on homepage?: <strong><%= project.active %></strong></p>
					<%= link_to "Edit", edit_project_path(project), class: "button submit-button" %>
					<%= link_to "Delete", project_path(project), class: "button submit-button", method: :delete, data: { confirm: "Are you sure?"} %>
				</div> <!-- /.portfolio-text -->
			</div> <!-- /.portfolio-item -->
		<% end %>
		</div> <!-- /.work-items -->
	</div> <!-- /.inner-wrapper -->
</section> <!-- /.portfolio-container -->
