<section class="portfolio-container showView" id="portfolio">
	<%= image_tag @project.screenshot, class: "portfolio-screenshot" %>
	<div class="inner-wrapper">
		<div class="portfolio__description">
			<div class="portfolio__meta">
				<h3><%= @project.title %></h3>
				<div class="little-line light"></div>
				<div class="portfolio__tags">
					<% @project.tags.all.each do |tag| %>
						<% unless tag.tag_name.nil? || tag.tag_name.empty? %>
							<div class="tech"><%= tag.tag_name %></div>
						<% end %>
					<% end %>
				</div>
			</div> <!-- /.portfolio__meta -->
			
			<div class="portfolio__long_description">
				<p><%= @project.long_description.html_safe %></p>
				<%= link_to "View Live", @project.url, class: "viewLive button" %>
			</div>

		</div> <!-- /.portfolio__description -->
	</div> <!-- /.inner-wrapper -->
	<div class="portfolio__gallery">
		<% @gallery_images.each do |g_image| %>
			<% unless g_image.image.url == "/images/original/missing.png" %>
				<div class="gallery-image">
					<%= image_tag g_image.image.url(:large) %>
				</div>
			<% end %>
		<% end %>
	</div> <!-- /.portfolioGallery -->
	<div class="inner-wrapper">
			<% if current_user %>
				<p>Active on homepage?: <strong><%= @project.active %></strong></p>
				<%= link_to "Edit", edit_project_path(@project), class: "button" %>
				<%= link_to "Delete", project_path(@project), class: "button", method: :delete, data: { confirm: "Are you sure?"} %>
			<% end %>
	</div> <!-- /.inner-wrapper -->
</section> <!-- /.portfolio-container