<!DOCTYPE html>
<html>
<head>
	<title>Robin Hamill > Front End Web Dev</title>
	<%= favicon_link_tag 'favicon.png' %>
	<%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,300,200,100,500|Montserrat:400'%>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag 'application', 'https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css'%>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body id="top">

	<div id="page" class="hfeed site">

		<!-- Devise Alerts -->
	  <!-- <p class="notice"><%= notice %></p> -->
		<!-- <p class="alert"><%= alert %></p> -->

		<header id="masthead" class="site-header" role="banner">
			<div class="outer-wrapper">
				<div class="nav-logo-container">
					<div class="site-branding">
						<h1 class="site-title">
							
							<% if current_page?(root_path) %>
								<%= link_to "Robin Hamill", "#top", "data-turbolinks" => false %>
							<% else %>
								<%= link_to "Robin Hamill", root_path, "data-turbolinks" => false %>
							<% end %>
							
							<div class="mini-box mini-topleft animated fadeInLeftBig"></div>
							<div class="mini-box mini-topright animated fadeInLeftBig"></div>
							<div class="mini-box mini-bottomleft animated fadeInLeftBig"></div>
							<div class="mini-box mini-bottomright animated fadeInLeftBig"></div>
						</h1>
					</div><!-- .site-branding -->
					
					<% if current_page?(root_url) %>
						<%= render "main_nav" %>
					<% else %>
						<%= render "layouts/backend_nav" %>
					<% end %>

				</div> <!-- /.nav-logo-container -->
			</div> <!-- /.outerwrapper -->

		</header><!-- #masthead -->
		<div id="content" class="site-content">

			<%= yield %>

		</div> <!-- /.site-container -->

		<footer id="colophon" class="site-footer" role="contentinfo">
			<div class="inner-wrapper">
				<div class="site-info">
					<p>&copy; robinhamill.ca<span class="sep"> | </span>All rights reserved <%= Time.now.year %></p>
				</div><!-- .site-info -->
			</div> <!-- /.inner-wrapper -->
		</footer><!-- #colophon -->
	</div><!-- #page -->
</body>
</html>
