<!DOCTYPE html>
<html>
<head>
	<title>RobinHamill</title>
	<%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,300,200,100,500|Montserrat:400'%>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag 'application', 'https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css'%>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body class="home page page-template-default"  id="home top">
	
	<!-- Devise Alerts -->
  <p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<div id="page" class="hfeed site">

		<header id="masthead" class="site-header" role="banner">
			<div class="outer-wrapper">
				<div class="nav-logo-container">
					<div class="site-branding">
						<h1 class="site-title">
							<a href="#top" rel="home">Robin Hamill</a>
							<div class="mini-box mini-topleft animated fadeInLeftBig"></div>
							<div class="mini-box mini-topright animated fadeInLeftBig"></div>
							<div class="mini-box mini-bottomleft animated fadeInLeftBig"></div>
							<div class="mini-box mini-bottomright animated fadeInLeftBig"></div>
						</h1>
					</div><!-- .site-branding -->

					<nav id="site-navigation" class="main-navigation" role="navigation">
						<div class="menu-menu-1-container"><ul id="primary-menu" class="menu">
							<li id="menu-item-41" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-41"><%= link_to "About", root_path(:anchor => "about") %></li>
							<li id="menu-item-43" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-43"><%= link_to "Portfolio", root_path(:anchor => "portfolio") %></li>
							<li id="menu-item-44" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-44"><%= link_to "Tools", root_path(:anchor => "tools") %></li>
							<li id="menu-item-45" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-45"><%= link_to "Contact", root_path(:anchor => "contact") %></li>
							<% if user_signed_in? %>
								<li class="menu-item"><%= link_to "Add Project", new_project_path %></li>
								<li class="menu-item button--sign_out"><%= link_to "Sign Out", "/users/sign_out", method: 'delete' %></li>
							<% end %>
						</ul></div>
					</nav><!-- #site-navigation -->
				</div> <!-- /.nav-logo-container -->
			</div> <!-- /.outerwrapper -->

		</header><!-- #masthead -->
		<div id="content" class="site-content">

			<%= yield %>

		</div> <!-- /.site-container -->

		<footer id="colophon" class="site-footer" role="contentinfo">
			<div class="inner-wrapper">
				<div class="site-info">
					<p>&copy; robinhamill.ca<span class="sep"> | </span>All rights reserved <%= Time.now.year %></p>
				</div><!-- .site-info -->
			</div> <!-- /.inner-wrapper -->
		</footer><!-- #colophon -->
	</div><!-- #page -->
</body>
</html>
